{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

if ! (( $+commands[brew] )); then
  echo "Brew not found, installing..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --file={{ joinPath .chezmoi.sourceDir ".." "Brewfile" | quote }} --no-upgrade || echo "Some packages failed to install (may need sudo). Continuing..."
{{ if .work -}}
brew bundle --file={{ joinPath .chezmoi.sourceDir ".." "Brewfile.work" | quote }} --no-upgrade || echo "Some work packages failed to install (may need sudo). Continuing..."
{{ else -}}
brew bundle --file={{ joinPath .chezmoi.sourceDir ".." "Brewfile.personal" | quote }} --no-upgrade || echo "Some personal packages failed to install. Continuing..."
{{ end -}}
{{ end -}}
